#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  width: 300px;
  background-color: #adb5bd;
  border: 2px solid #212529;
  border-radius: 5px;
}

.App_text-box {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 90%;
  height: 37px;
  color: #f8f9fa;
  font-size: 30px;
  padding: 10px;
  background-color: #087f5b;
  border: 2px solid #212529;
  border-radius: 5px;
}

.App_buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  color: #212529;
  background-color: #adb5bd;
}
