body {
  --border: #03071e;
  --lightBorder: #faa307;
  --background: #370617;
  --lighter: #e85d04;
  --light: #dc2f02;
  --dark: #9d0208;
  --darker: #6a040f;
  margin: 50px;
  background-color: #faa307;
}

#root {
  margin: auto;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 25px;
  align-items: center;
  width: 300px;
  background-color: var(--background);
  border: 2px solid var(--border);
  border-radius: 10px;
}

.App_text-box {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 90%;
  height: 37px;
  color: #f8f9fa;
  font-size: 30px;
  padding: 10px;
  background-color: var(--light);
  border: 2px solid var(--border);
  border-radius: 10px;
}

.App_buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  justify-items: center;
  width: 100%;
  padding-top: 20px;
  background-color: var(--background);
}
