.Button_button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57px;
  width: 57px;
  color: #f8f9fa;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid var(--border);
  border-radius: 5px;
  padding: 0;
}

.Button_color-darker {
  background-color: var(--darker);
}

.Button_color-dark {
  background-color: var(--dark);
}

.Button_color-light {
  background-color: var(--light);
}
